html, body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

@font-face {
    font-family: 'Quicksand Bold';
    src: url('./Quicksand_Bold.otf');
}

@font-face {
    font-family: 'Quicksand';
    src: url('./Quicksand_Book.otf');
}

@font-face {
    font-family: 'Birdland';
    src: url('./Birdland Aeroplane.otf');
}